* {
    padding: 0;
    margin: 0;
    
}

#external-css {
    color: red; 
}

figure img {
    border: 4px solid red; 
}

.container > p {
    color: red;
}

img + figcaption{
    border: 4px solid blue; 
}

h4 ~ p {
    color: pink;
}

.divided-element {
    display: inline;
    border: 3px solid green;
    color: red;
}

.box-one {
    background-color: rgb(255, 103, 103);
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 20px solid rgb(255, 127, 255);
    margin: 10px;
    box-sizing: border-box;
}

.box-two {
    background-color: rgb(89, 208, 255);
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 30px solid rgb(125, 255, 125);
    margin: 10px;
}

.inked-codes {
    font-size: 40px;
    border: 3px solid rgb(255, 116, 255); 
    /* border-style: solid;
    border-width: 3px;
    border-color: purple; */
    border-radius: 20px;
}

.inked-codes-lorem {
    margin: 20px;
    border-bottom: 3px solid red; 
    border-top: 3px solid yellow; 
    border-left: 3px dotted orange;
    border-right: 3px dotted green; 
    border-radius: 20px;
}
