body {
  background-color: rgb(34, 66, 56);
}

.form-container {
  background-color: white;
  width: 300px; 
  padding: 15px 15px;
  border-radius: 10px; 
  margin: 300px auto; 
  
}

label, input, textarea {
  display: block;
  padding: 10px 10px;;
}

input, textarea {
  width: 80%; 
  margin: auto;
}

label {
  text-align: center;
  margin: auto;
  color: #55555; 
}

button {
  background-color: green;
  color: white;
  padding: 10px;
  border-style: none;
  border-radius: 5px; 
  font-size: 1em
}


