* {
  box-sizing: border-box;
}


html {
  font-family: Gill Sans;
  font-weight: lighter;
}

body {
  background: linear-gradient(45deg, red , blue);
}

.form-container {
  background-color: white;
  text-align: center;
  width: 300px;
  padding: 15px;
  border-radius: 7px;
  margin: 200px auto;
  box-shadow: 0 2px 8px black;
}

label, input, textarea{
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 0.5px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  margin: 5px auto;
}

label {
  color: rgb(11, 2, 2);
  margin: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
}

button:hover {
  background-color: darkgreen;
}


