* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightpink;
}

#playing-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: transfrom 2.3s ease,
}

.card {
    background-color: white;
    font-weight: bold;
    width: 300px;
    height: 450px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 6px gray;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.left {
    align-self: flex-start;
    font-size: 2em;
    text-align: center;
}

.middle {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 6em;
}

.middle .two, 
.three, 
.four, 
.five {
    transform: rotate(180deg);
} 

.right {
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    transform: rotate(180deg);
}

.card:hover {
    transform: scale(1.1);
}

.five-center {
    align-self: center;
}