.container {
    background-color: white;
    width: 80%; 
    padding: 20px;
    border-radius: 6px;
    margin: 20px auto;
    box-shadow: 0 3px 7px lightgray;

}

input:not([type="radio"]), 
select, 
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

input:focus, 
textarea:focus {
    border-color: blue;
}

input:invalid, 
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid, 
select:valid,
textarea:valid {
    border-color: green;
}

button {
    background-color: green;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-width: 0;
}

button:hover {
    background-color: black;
    color: white;
}

.radio-group input[type="radio"]:checked {
    border-color: green;
    background-color: green;
    box-shadow: 2px 0 2px gray;
}

.radio-group input[type="radio"]:checked + label{
    color: red;
}

input:first-of-type {
    font-weight: lighter;
}