body{
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card {
  background-color: pink;
  width: 300px;
  padding: 20px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}