* {
    padding: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 24px;
  background-color: rgb(225, 255, 225);
}

body {
    background-color: white;
    min-width: 300px;
    width: 80vw;
    margin: 50px auto;

}

.newspaper {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 50px;
    box-shadow: 0 2px 6px gray;
}

.name {
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
}

.headline {
    font-size: 2em;
    font-weight: bold;
    
}



.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
}


.author {
    text-transform: uppercase;
    font-weight: bold;
}

.text {
    text-indent: 20px;
    line-height: 2em;
}

.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}


.header {
    text-align: center;
    line-height: 0.7;
}