* {
    color: paleturquoise
}

.box01 {
    background-color: red;
    width: 100px;
    height: 100px;
    border: 4px dashed; 
}

.box02 {
    background-color: green;
    width: 100px;
    height: 100px;
    border-width: 2px 4px 6px 8px;
    border-style: solid dashed solid dashed;
    border-color: yellow red blue black;
}