/* .container {
    border: 1px solid black;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

img {
    float: left;
    margin-right: 20px;
}

*/

body {
    height: 50px;
    border: 1px solid black;
} 

.relative {
    position: relative;
    top: 50px;
    left: 40px;
}