body {
    margin: 0;
}

.box {
    width: 250px;
    height: 100px;
    border: 1px solid black;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    overflow: auto;
}

.word {
    width: 100px;
    font-size: 250%;
    border: 1px solid black;
    overflow-x: scroll;
}

#box1 {
    width: 250px;
    height: 250px;
    border: 5px solid; 
    font-size: 13em;
    text-align: center;
    background-color: pink;

    transform: rotateZ(110deg)
}