body {
    border: 2px solid black;
}

.box {
background-color: red;
    width: 200px;
    height: 200px;
    margin: 100px;
    /* transform: translate(100px, 50px); */
    /* transform: rotate(45deg); */
    /* transform: scale(1.5, 2); 1.5 times wider and 2 times taller than the original size */
    transform: translate(50px, 50px) rotate(45deg) scale(1.5);
}

/* 

accessibility concerns need to keep in mind: 
    - screen readers may not accurately convey transformed content 

*/