body {
    background-color: midnightblue;
    color: whitesmoke;
}

.container {
    background-color: #ffffff1a;
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px black
}

.center {
    text-align: center;
}

.description {
    font-size: 1.2rem;
}

fieldset {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 0;
}

fieldset legend {
    font-size: 1.3rem;
    font-weight: 600px;
}

label {
    font-size: 1.2rem;
}

label:not(.contact-method) {
    display: block;
    margin: 10px 0;
}

input:not(.contact-method-radio-button), textarea {
    background-color: #ffffff1a;
    width: 95%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

input::placeholder, textarea {
    color: whitesmoke;
}

.contact-method-radio-button {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 50%;
    vertical-align: bottom;
}

.contact-method-radio-button::before {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(3px, 3px) scale(0);
    transition: all 0.3s ease-in;
}

.contact-method-radio-button:checked::before {
    transform: translate(3px, 3px) scale(1);
    background-color: lightgreen;
}

.submit-button {
    background-color: royalblue;
    color: whitesmoke;
    display: block;
    font-size: 1.1rem;
    padding: 12px 20px;
    margin: auto;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: midnightblue;
}