body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}

header {
    background-color: #1b1b32;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: max(10rem, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul {
    height: 100%;
    padding-inline-start: 0;
    margin-block: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

nav li {
    color: #dfdfe2;
    padding: 0.2rem;
    margin: 0 0.2rem;
    display: block;
}

main {
    padding-top: 50px;
}

section {
    width: 80%;
    max-width: 600px;
    margin: 0 auto 10px;
}

li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

h1,
h2 {
    font-family: Verdana, Tahoma;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    padding-top: 60px;
    margin-top: 0;
}

h3:before {
    content:"Question #"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
