body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}

#logo {
    background-color: #0a0a23;
    aspect-ratio: 35/4;
    width: max(10rem, 18vw);
    padding: 0.4rem;
}

header {
    background-color: #1b1b32;
    width: 100%;
    height: 50px;
    display: flex;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em)
}