body {
    background-color: #f4f4f4;
    
}

h1 {
    text-align: center;
}

.color-grid {
  width: 80%;
  height: auto;
  margin: auto;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 50px; 
    background-color: red;
    margin: 10px 15px
}

.color1 {
    background-color: #33ff57;
}

.color2 {
    background-color: rgb(128, 0, 128);
}

.color3 {
    background-color: orange;
}

.color4 {
    background-color: hsl(59, 61%, 26%)
}

.color5 {
    background-color: red;
}