*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}

.my-todo-list {
  background: whitesmoke; 
  width: 80%;
  padding: 20px;
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 16px;
  box-shadow: 0 0 20px rgb(62, 62, 62);
}

h1 { 
  text-align: center; 
  margin-bottom: 20px;
}

.todo-list {
  list-style: none;
  padding: 0; 
}

.todo-item {
  background: rgb(167, 221, 167);
  padding: 20px 20px; 
  margin-bottom: 20px;
  border-radius: 12px;
}


.sub-item {
  list-style: square;
  margin-top: 10px;
  margin-left: 30px; 
}

.sub-item li {
  margin: 5px 0; 
}


a { 
text-decoration: none;
}

a:link {
  color: red; 
}

a:hover {
  color: green; 
}

a:active {
  color: pink;
}

a:focus {
outline: solid 2px yellow; 
}

a:visited {
  color: red; 
}
