* {
 box-sizing: borderbox;
 padding: 0;
 margin: 0; 
}

.my-todo-list {
  background-color: white; 
  width: 80%; 
  height: 550px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 0 20px lightgrey;
  border-radius: 12px; 
}

h1 {
  text-align: center;
}

.todo-item {
  background-color: rgb(192, 243, 192);
  padding: 10px;
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
}

.todo-list {
  list-style: none;
}

.sub-item {
  list-style: square;
  padding: 20px;
  margin: 0 20px;
}

a {
  text-decoration: none;
}


a:link {
  color: red; 
}

a:hover {
  color: green; 
}

a:active {
  color: pink;
}

a:focus {
outline: solid 2px yellow; 
}

a:visited {
  color: red; 
}