*{
  background-color: grey; 
}

.my-todo-list {
  background-color: green;
  width: 80%;
  padding: 20px;
  margin-left: auto; 
  margin-right: auto; 
}


a { 
text-decoration: none;
}

a:link {
  color: orange; 
}

a:hover {
  color: green; 
}

a:active {
  color: pink;
}

a:focus {
outline: solid 2px yellow; 
}

a:visited {
  color: red; 
}

h1 + ul {
  list-style-type: none; 
}


h1 { 
  text-align: center; 
}

section {
  padding: 5px; 
  border: 2px solid lightseagreen;
  border-radius: 12px;
  margin: 20px;
  background-color: pink;
}





