main {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
}

#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

#img-div {
    background-color: whitesmoke;
    text-align: center;
    max-width: fit-content;
    padding: 20px;
    margin: 10px auto;
}

#image {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}